<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employeesignup</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/employeesign.css')}}">
</head>
<body>
    <center>
    <h1>Employee Login</h1>
    </center>
<div class=emplog>
<img src="https://web.classplusapp.com/static/media/loginCover.c813756b.svg" height="650px";width="950px" alt="">

    <div class="container">
        <div class="drop">
            <div class="content">
                <h3>Sign-In</h3>
                <form method="POST">
<div class="inputBox">
    <input type="number" placeholder="Empolyeeid" name="employeeid">
</div>
    
<div class="inputBox">
    <input type="text" placeholder="Firstname" name="firstname">
</div>
<div class="inputBox">
    <input type="text" placeholder="Lastname" name="lastname">
</div>
<div class="inputBox">
    <input type="text" placeholder="Email" name="email">
</div>
<div class="inputBox">
    <input type="password" placeholder="password" name="password">
</div>
<div class="inputBox">
    <input type="number" placeholder="+9999999999" name="phonenumber">
</div>
<div class="inputBox">
    <a href="taskempolyee.html"><input type="submit"value="Sign-In"></a>
</div>
                </form>
            </div>
        </div>
    </div>
</div>    
</body>
</html>

